* {
  margin: 0;
}

.App {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
  max-width: 7%;
  /* background-color: white; */
  /* padding: 20px; */
  /* border-bottom: 1px solid lightgray */
}
.app__signup {
  display: flex;
  flex-direction: column;

}
